header {
    padding-bottom: 2vh;
}

main {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

main h1 {
    text-align: center;
}

main p {
    text-align: center;
}

#search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.search-bar input {
    flex: 1;
    padding: 0px;
}

#words {
    padding-bottom: 1%;
    text-align: center;
}

main div {
    padding: 2%;
}

#words {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #fff;
    text-align: left;
}

#words h1 {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

#words h2 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

#words p {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

#words p i {
    font-style: italic;
}
